{% extends 'main.html' %} 
{% block content %}
    {% if page == 'login' %}
    <div class="login">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="enter username">
            <input type="password" name="password" placeholder="enter password">
            <input type="submit" value="login">
        </form>
        <div>havent signed up yet ? <a href="{% url 'register' %}">register</a></div>
    </div>
    {% else %}
    <div class="register">
        <form action="" method="POST">
            {% csrf_token %}
                {{form.as_p}}
            <input type="submit" value="signup">
        </form>
        <div>did you register before ? <a href="{% url 'login' %}">login</a></div>
    </div>
    {% endif %}
{% endblock content %}
